<div class="container">
  <h1> <%= t('articles.create_article') %> <%= @article.id %></h1>
<h1><%= @article.title %></h1>
<p>
  <%= @article.text %>
</p>
<h2>Add comment</h2>
<p>
  <%= form_for([@article, @article.comments.build]) do |f| %>

    <p>
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </p>

  <p>
    <%= f.submit 'Create comments'%>
  </p>

<% end %>
</p>
<h2>Comments</h2>
<p>
  <% @article.comments.each do |comment| %>
  <p>
    <i> <%= "Author: #{comment.author}" %><br /></i>
    <i><%= "Body: #{comment.body}" %></i>
  </p>
  <hr />
<% end %>
</p>
</div>